@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root {
    --section_titles: 3em;
    --section_introduction: 1.2em;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
    min-height: 400vh;
    overflow-x: hidden;
    user-select: none;
}

/* Header Section */

.header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    width: 100%;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    z-index: 10000;
}

.header__ul {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.header__anchor {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    text-decoration: none;
}

.header__toggle {
    width: 20px;
    height: 3px;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    background: #fff;
}

.header__toggle:after {
    content: '';
    position: absolute;
    left: 0;
    border-radius: 10px;
    top: -5px;
    width: 20px;
    background: #fff;
    height: 3px;
}

.header__toggle:before {
    content: '';
    position: absolute;
    left: 0;
    border-radius: 10px;
    top: 5px;
    width: 20px;
    background: #fff;
    height: 3px;
}

.header__logo .header__anchor {
    order: 1;
    font-size: 1.6em;
    font-weight: 700;
}

.header__toggle {
    order: 2;
}

.header__item {
    order: 3;
    width: 100%;
    margin: 2rem;
    height: 0px;
    text-align: center;
    position: relative;
    visibility: hidden;
    transition-delay: 0.5s ease-in-out;
}

.sticky {
    transition: 0.8s ease-in-out;
    position: fixed;
    z-index: 1;
    height: 6vh;
    background: #fff;
}

.active .header__toggle:after,
.active .header__toggle:before,
.active .header__toggle,
.sticky .header__toggle:after,
.sticky .header__toggle:before,
.sticky .header__toggle {
    background: #111;
}

.sticky .header__anchor {
    color: #111;
}

/* Home Section */

.home {
    background: url("../img/bg.jpg");
    background-size: cover;
    display: flex;
    position: relative;
    top: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.home:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: url('../img/snow.png');
    animation: snow 20s infinite linear;
    transform: rotate(180deg);
}

@keyframes snow {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 50% 100%;
    }
}

.home__title {
    font-size: var(--section_titles);
    text-align: center;
    color: #fff;
}

.home__subtitle {
    font-size: var(--section_introduction);
    text-align: center;
    color: #fff;
}

/* About Section */

.about {
    display: flex;
    position: relative;
    min-height: 125vh;
    background: #1f1f1f;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition-delay: 0.5s;
}

.about__title {
    font-size: 2.8em;
    font-weight: 500;
    color: #fff;
}

.about__introduction {
    color: #fff;
    font-size: var(--section_introduction);
    font-weight: 300;
    padding: 2vh;
    letter-spacing: 1;
    line-height: 2;
}

.about__image-profile {
    border-radius: 1vh;
    max-width: 90%;
    max-height: 100%;
    text-align: center;
    margin: 2vh auto;
    object-fit: cover;
}

.about__me {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    position: relative;
    font-size: 1.5em;
    padding: 2vh;
    border-radius: 1vh;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    outline: none;
    transition: 0.5s;
    background: #6796DE;
    overflow: hidden;
}

.btn:before {
    content: '';
    position: absolute;
    left: -100%;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
    background: linear-gradient(90deg, transparent, #fff, transparent);
}

.btn:hover {
    background: #485CA5;
    transition: 0.5s;
}

.btn:hover:before {
    left: 100%;
    transition: 1s;
}

/* Portfolio section */

.portfolio {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    text-align: center;
}

.portfolio__introduction {
    padding: 2vh;

}

.portfolio__title {
    color: #111;
    font-size: var(--section_titles);
    font-weight: 600;
}

.portfolio__description {
    font-size: var(--section_introduction);
    font-weight: 300;
    letter-spacing: 1;
    line-height: 2;
    text-justify: distribute-all-lines;
}

.portfolio__ilustration {
    margin: 10vh auto;
    display: grid;
    grid-template: repeat(auto-fit, minmax(100%, 1fr));
    grid-gap: 1fr;
}

.portfolio__imgCard {
    max-width: 100%;
    max-height: 90%;
    border-radius: 5px;
}

.portfolio__video {
    width: 80%;
    height: 80%;
    border-radius: 5px;
}

.portfolio__video:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.5s;
}